<?xml version="1.0"?>

  <appSettings>
    <add key="hello" value="world" />
    <add key="ProjectName" value="空巢老人服务平台" />
    <add key="MainTitle" value="爸妈幸福频道" />
    <add key="MainSlogan" value="服务空巢老人，我们没有停止脚步！" />
    <add key="ContactNumber" value="15392906350" />
    <add key="ContactAddress" value="湖北省武汉江夏大道16号 406工作室" />
    <add key="ContactEmail" value="google@gmail.com" />
    
  </appSettings>
